body {
    margin: 0 auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #222;
}

.slider {
    width: 80%;
    margin: 30px auto;
}

.slider-title {
    margin-left: 140px;
    padding-top: 20px;
}

img {
    width: 80%;
    margin: 0 auto;
}

button {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.prev-arrow {
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.next-arrow {
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.slider-text {
    margin-left: 140px;
}
